# Google Sheets - Inscrições The Chosen
GOOGLE_SHEETS_SPREADSHEET_ID=1eFQTr1uMTtr1RMaU1KXtxtTpzVlUdGvQOFRtK0quHIM
GOOGLE_SHEETS_TAB_NAME=Inscrições
GOOGLE_SHEETS_CREDENTIALS_PATH=credentials.json
THE_CHOSEN_LIMITE_VAGAS=100
