node_modules/
.wwebjs_cache/
.wwebjs_auth/
temp/
*.deb
credenciais-google.json
credentials.json
.env
dados.db
dados.db-journal
dados.db-wal
dados.db-shm
*.migrado
*.log
npm-debug.log*
.DS_Store
Thumbs.db
